.bottom-sheet-content {
  text-align: justify;
  padding: 10px 10px 20px;
}

.bottom-sheet-title {
  font-weight: 600;
}

.bottom-sheet-text {
  margin: 10px 0;
}

.bottom-sheet .tu-bottom-sheet-footer {
  display: none;
}
