.success {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.success-content {
  width: 90vw;
}

.success-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white-color);
}

.success-sub-label {
  font-size: 18px;
  line-height: 22px;
  color: var(--white-color);
  margin: 5px 0 50px;
}

.success-text {
  color: var(--white-color);
}

.success-sub-text {
  font-size: 12px;
  line-height: 15px;
  color: var(--white-color);
  margin: 5px 0 50px;
}
