.success {
  background-color: var(--primary-color);
  max-height: 100vh;
}

.success-content {
  margin-top: 15vh;
  width: 95vw;
}

.success-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: var(--white-color);
}

.success-text {
  color: var(--white-color);
  margin: 10px 0;
}

.success-sub-text {
  color: var(--white-color);
}

.success .large-btn{
  margin: 20px 0;
}
