.step{
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.step-item{
  width: calc(100% / 7);
  height: 5px;
  background: #D9D9D9;
  margin: 3px;
}

.step--actived{
  background: var(--second-color);
}