.birthday-selector {
  position: relative;
}

.birthday-selector-btn {
  top: 37px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  z-index: 2;
  border-radius: 20px;
}

.birthday-selector-btn:hover {
  background-color: transparent;
}
