.header {
  background-color: var(--primary-color);
  padding-top: 4.5vh;
  margin-bottom: 20px;
}

.header-btn:hover {
  background-color: transparent;
}

.header-img-container {
  flex: 1;
}

.header-img {
  width: 50px;
  height: 30px;
}
