.header {
  background-color: var(--primary-color);
  padding-top: 5vh;
  margin-bottom: 20px;
}

.header-btn {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.header-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
