.acquaintance-info{
  /* margin-top: 50px; */
}


.acquaintance-info-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0;
}

.acquaintance-info .input-section {
  padding-top: 5px;
  margin-bottom: 10px;
}

.plus-contact-info-label view {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #808089;
  margin-top: 10px;
}
