@import '@tiki.vn/tini-style/es/index.tcss';
@import "./styles/skeleton.tcss";
@import "./styles/grid-system.tcss";
@import "./styles/index.tcss";

:root {
  --primary-color: #7209b7;
  --second-color: #f82486;
  --white-color: #ffffff;
  --text-color: #000000;
  --second-text-color: #999999;
  --error-message: red;
}

* {
  box-sizing: border-box;
}
